.slick-slider{
    margin: 0px 55px !important;
}

.img-fluid{
    height: 200px;
    width: 95%;
    border-radius: 10px !important;
}

.wp-95{
    width: 95%;
}

.wp-100{
    width: 100%;
}

/* .slick-active:first-child img, .slick-active:nth-child(2) img{
    width: 95% !important;
}

.slick-active:nth-child(3) img{
    width: 100% !important;
} */